@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7ede3;
  --pink: #c34f5a;
  --grey: #36454f;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  position: relative;
}

body {
  color: var(--pink);
  background: var(--background);
  font-family: charm;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-image: url("/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* 
@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
} */

.connection-icon {
  border: 1px solid var(--pink);
  padding: 5px;
  border-radius: 50%;

  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  text-align: center;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.connection-icon:hover {
  box-shadow: var(--pink) 0 1px 30px;
  transition-duration: 0.1s;
}

/* METEOR PINK */

.meteorP-ani-1 {
  animation: 20s linear kf-meteorB-1 infinite;
}

.meteorP-ani-2 {
  animation: 20s linear kf-meteorB-2 infinite;
  animation-delay: 5s;
}

.meteorW-ani-1 {
  animation: 20s linear kf-meteorP-1 infinite;
  animation-delay: 10s;
}

.meteorW-ani-2 {
  animation: 20s linear kf-meteorP-2 infinite;
  animation-delay: 15s;
}

@keyframes kf-meteorB-1 {
  0% {
    translate: -50% -50%;
    opacity: 1;
  }

  5% {
    opacity: 1;
  }

  10% {
    translate: 50% 50%;
    opacity: 0;
  }

  100% {
    translate: 50% 50%;
    opacity: 0;
  }
}

@keyframes kf-meteorB-2 {
  0% {
    translate: 10% -50%;
    opacity: 1;
  }

  5% {
    opacity: 1;
  }

  10% {
    translate: 110% 50%;
    opacity: 0;
  }

  100% {
    translate: 110% 50%;
    opacity: 0;
  }
}

/* METEOR WHITE */

@keyframes kf-meteorP-1 {
  0% {
    translate: -50% -10%;
    opacity: 1;
  }

  5% {
    opacity: 1;
  }

  10% {
    translate: 50% 90%;
    opacity: 0;
  }

  100% {
    translate: 50% 90%;
    opacity: 0;
  }
}

@keyframes kf-meteorP-2 {
  0% {
    translate: -40% -50%;
    opacity: 1;
  }

  5% {
    opacity: 1;
  }

  10% {
    translate: 70% 50%;
    opacity: 0;
  }

  100% {
    translate: 70% 50%;
    opacity: 0;
  }
}

/* STARS */

.star-ani-1 {
  animation: 10s linear kf-star-1 infinite;
}

.star-ani-2 {
  animation: 10s linear kf-star-1 infinite;
  animation-duration: 10s;
  animation-delay: 1s;
}

.star-ani-3 {
  animation: 10s linear kf-star-1 infinite;
  animation-duration: 13s;
  animation-delay: 2s;
}

.star-ani-4 {
  animation: 10s linear kf-star-1 infinite;
  animation-duration: 11s;
  animation-delay: 3s;
}

.star-ani-5 {
  animation: 10s linear kf-star-1 infinite;
  animation-duration: 7s;
  animation-delay: 4s;
}

.star-ani-6 {
  animation: 10s linear kf-star-1 infinite;
  animation-duration: 10s;
  animation-delay: 5s;
}

.star-ani-7 {
  animation: 10s linear kf-star-1 infinite;
  animation-duration: 12s;
  animation-delay: 6s;
}

@keyframes kf-star-1 {
  0% {
    scale: 0;
    rotate: 0deg;
    opacity: 1;
  }

  4% {
    scale: 0.5;
    rotate: 90deg;
  }

  8% {
    scale: 0;
    rotate: 180deg;
  }

  100% {
    scale: 0;
    rotate: 180deg;
  }
}

.element {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 50% 50%;
}

.meteorPink {
  svg {
    filter: drop-shadow(0 0 10px white);
    width: 7em;
    height: 7em;
  }
  opacity: 0;
  rotate: -55deg;
}

.meteorWhite {
  svg {
    filter: drop-shadow(0 0 10px rgba(195, 79, 90, 0.65));
    width: 8em;
    height: 8em;
  }
  opacity: 0;
  rotate: -55deg;
}

.star-size-1 {
  svg {
    width: 5.6em;
    height: 5.6em;
  }
}

.star {
  svg {
    filter: drop-shadow(0 0 10px rgba(195, 79, 90, 0.65));
  }
  opacity: 0;
}

.star-pos-1 {
  translate: 30% 10%;
}

.star-pos-2 {
  translate: 40% -30%;
}

.star-pos-3 {
  translate: -10% 30%;
}

.star-pos-4 {
  translate: 10% 40%;
}

.star-pos-5 {
  translate: -30% 25%;
}

.star-pos-6 {
  translate: -30% -10%;
}

.star-pos-7 {
  translate: -20% -40%;
}

/* card */
.card {
  border: 1px solid var(--pink);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.4s;
}

/* button */
.custom-button {
  border: 1px solid var(--pink);
  background-color: rgba(195, 79, 90, 0.5);
  color: white;
  cursor: pointer;
  padding: 0.5rem; /* equivalent to Tailwind's p-2 */
  width: fit-content;
  border-radius: 0.375rem; /* Tailwind's rounded-md */
  transition: transform 0.2s ease;
}

.custom-button:hover {
  background-color: rgba(195, 79, 90, 0.8);
  transform: translateY(-2px);
}

/* cursor */
@media (max-width: 768px) {
  #canvas {
    display: none;
  }
}
